<div class="container error">
    <div class="error-block">
        <p class="error-code">{{code}}</p>
        <p class="error-text">{{text}}</p>
        <a class="error-link" href="/">На главную</a>
    </div>
</div>