@import '../../../../index.scss';

.user-info{
    border-bottom: 1px solid $background;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;

    .info-title{
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        color: $black;
    }
    .info-item{
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        text-align: right;
        color: $grey;
    }
    &:last-child{
        border: none;
    }
}