@import '../../../../index.scss';

.input-group{
    position: relative;
    margin: 15px 0px 20px 0;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    .ig-title{
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        color: $grey;
    }
    .ig-item{
        width: 100%;
        font-size: 13px;
        font-weight: 500;
        padding: 7px 0px;
        border: none;
        outline: none;
        border-bottom: 1px solid $mainColor;
    }
    .ig-item::-webkit-input-placeholder {
        color: $grey;
        font-family: 'Nunito',sans-serif;
    }
    .ig-error{
        position: absolute;
        bottom: -15px;
        margin-top:5px;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        color: $red;
    }
}