.input-group{
    position: relative;
    margin: 15px 0px;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    .ig-title{
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        color: #999999;
    }
    .ig-item{
        width: 100%;
        font-size: 13px;
        font-weight: 500;
        padding: 7px 0px;
        border: none;
        outline: none;
        border-bottom: 1px solid #3369F3;
    }
    .ig-item::-webkit-input-placeholder {
        color: #999999;
        font-family: 'Nunito',sans-serif;
    }
}