<div class="container messenger">
    <div class="left-block">
        <div class="user-profile">Профиль ></div>
        <div class="chat-list-block">
            <div class="chat-list-filter">
                <input class="filter" placeholder="Поиск" type="text">
            </div>
            <div class="chat-list">
                <div class="chat-group">
                    <div class="cg-image">

                    </div>
                    <div class="cg-group-info">
                        <div class="cg-info-block">
                            <p class="cg-name">Андрей</p>
                            <p class="cg-mess">Изображение</p>
                        </div>
                        <div class="cg-time-block">
                            <p class="cg-time">10:49</p>
                            <p class="cg-count">2</p>
                        </div>
                    </div>
                    
                </div>
                <div class="chat-group">
                    <div class="cg-image">

                    </div>
                    <div class="cg-group-info">
                        <div class="cg-info-block">
                            <p class="cg-name">Андрей</p>
                            <p class="cg-mess">Изображение</p>
                        </div>
                        <div class="cg-time-block">
                            <p class="cg-time">10:49</p>
                            <p class="cg-count">22</p>
                        </div>
                    </div>
                    
                </div>
                <div class="chat-group">
                    <div class="cg-image">

                    </div>
                    <div class="cg-group-info">
                        <div class="cg-info-block">
                            <p class="cg-name">Андрей</p>
                            <p class="cg-mess">Изображение</p>
                        </div>
                        <div class="cg-time-block">
                            <p class="cg-time">10:49</p>
                            <p class="cg-count">18</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-block chat">
        <div class="chat-header">
            <div class="chat-profile">
                <div class="cp-img"></div>
                <div class="cp-name">Андрей</div>
            </div>
        </div>
        <div class="chat-body">
            <div class="message">
                <div class="message-day">28 мая</div>

                <div class="message-pos-they">
                    <div class="message-they">

                    
                    Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.

Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.
                    </div>
                </div>

                <div class="message-pos-they">
                    <div class="message-they">
                        Круто 
                    </div>
                </div>

                <div class="message-pos-me">
                    <div class="message-me">
                        Круто   
                    </div> 
                    <div class="message-me">
                        Круто   
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-footer">
            <input id="Message-input" class="cf-input" placeholder="Сообщение" type="text">
            {{{Button}}}
        </div>
    </div>


</div>