@import '../../../../index.scss';

.user-info{
    position: relative;
    border-bottom: 1px solid $background;
    padding: 20px 0px 20px 0 ;
    display: flex;
    justify-content: space-between;

    .info-title{
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        color: $black;
    }

    .info-input-item{
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        text-align: right;
        color: $grey;
        border: none;
        outline: none;
        width: 50%;
    }

    .info-error{
        font-size: 10px;
        color:$red;
        position: absolute;
        bottom: 3px;
    }

    // &:last-child{
    //     border: none;
    // }

}