*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

$mainColor: #3369F3;
$mainColorBack: #2d5edc;

$background: #EFEFEF;

$shadow:#00000024;

$grey: #999999;
$black: #1E1E1E;
$red: #FF0000;
$white: #FFFFFF;